<% content_for :path do%>
    <section class="content-header">
      <h1>Dashboard
        <small>Panel de Control</small>
      </h1>
      <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i><%= link_to 'Home',root_path %></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>
<% end %>

<div class="row">
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-yellow">
      <div class="inner">
        <h3><%= @companies.size%></h3>
        <% if @companies.size > 1 %>
            <p>Empresas</p>
        <% else %>
            <p>Empresa</p>
        <% end %>
      </div>
      <div class="icon">
        <i class="ion ion-podium"></i>
      </div>
      <span class="small-box-footer">
          <%= link_to companies_path,{:controller => 'Company',:action => 'index'} do %>
              Mostrar <i class="fa fa-arrow-circle-right"></i>
          <% end %>
      </span>
    </div>
  </div>
</div>
